footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

main {
  margin: 2rem;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}
