{% extends 'base.html' %} {% block head %}

<title>Home</title>
<h1>Home</h1>

{% endblock %} {% block content %}
<main>
  <section>
    <h2>Welcome to the Grade Tracker API</h2>
    <p>
      This is a simple API for tracking grades and subjects. It allows you to
      create, read, update, and delete subjects and grades.
    </p>
    <p>
      To get started, you can use the <a href="{{ url_for('docs') }}">API documentation</a> to
      learn how to use the API.
    </p>
  </section>
</main>

{% endblock %}
